# keep ALL local data & caches out of Git
data/

# Python/Streamlit secrets & env
.venv/
venv/
env/
.env
.env.*
*.env
.streamlit/secrets.toml

# --- Python cruft
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# --- Notebooks
.ipynb_checkpoints/

# --- Build artifacts
build/
dist/
*.egg-info/
pip-wheel-metadata/

# --- Streamlit
.streamlit

# --- Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
